__pycache__/
*.py[cod]

.venv/
venv/
env/

dataset/
hn*_all.csv

preprocessed/*.npy
preprocessed/*_quantile_lookup.csv
preprocessed_backup*/

*.pdf
metadata_before_split.csv
metadata_split.csv
.DS_Store
Thumbs.db
